@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.container-login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #9cd9ff;
  padding: 1rem;
}
.container-login .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  width: 100%;
  position: relative;
  max-width: 50rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
  background-color: #fff;
  height: 30rem;
}
.container-login .wrapper .col {
  transition: all 0.5s ease-in-out;
}
.container-login .wrapper .col:nth-child(1) {
  z-index: 2;
  background-image: url("https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/IDE-PROJECT/ab6765630000ba8a4916655bf26e3830b33aa94f.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.323);
}
.container-login .wrapper .col:nth-child(2) {
  padding: 4rem 2.5rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 1.5rem;
}
.container-login .wrapper .col:nth-child(2) .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  margin: 0 auto;
  color: #40b6ff;
  text-align: center;
}
.container-login .wrapper .col:nth-child(2) .title .title-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 0;
}
.container-login .wrapper .col:nth-child(2) .title .title-login img {
  width: 2.5rem;
}
.container-login .wrapper .col:nth-child(2) .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 1.5rem;
}
.container-login .wrapper .col:nth-child(2) .form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 3px;
  width: 100%;
  position: relative;
}
.container-login .wrapper .col:nth-child(2) .form label small {
  position: absolute;
  font-size: 0.7rem;
  color: red;
  font-weight: 500;
  bottom: -13px;
}
.container-login .wrapper .col:nth-child(2) .form label span {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #566a7f;
}
.container-login .wrapper .col:nth-child(2) .form label input {
  width: 100%;
  padding: 0.8rem;
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: padding-right 0.5s ease-in-out;
}
.container-login .wrapper .col:nth-child(2) .form label input:focus {
  padding-right: 1rem;
}
.container-login .wrapper .col:nth-child(2) .form label .input-password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
}
.container-login .wrapper .col:nth-child(2) .form label .input-password input {
  border-right: none;
  border-radius: 5px 0 0 5px;
}
.container-login .wrapper .col:nth-child(2) .form label .input-password .button-hide-password {
  padding: 0.5rem;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #f3f3f3;
  color: #fff;
  cursor: pointer;
}
.container-login .wrapper .col:nth-child(2) .form label .input-password .button-hide-password i {
  font-size: 1.5rem;
  color: #c3c3c3;
  font-weight: 100;
}
.container-login .wrapper .col:nth-child(2) .form .forgot-password {
  font-size: 0.8rem;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  color: #168cd5;
}
.container-login .wrapper .col:nth-child(2) .form .btn-login {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  background-color: #40b6ff;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.container-login .wrapper .col:nth-child(2) .form .btn-login:hover {
  background-color: #168cd5;
}
.container-login .wrapper .col1-login-class {
  position: absolute;
  left: 0rem;
  width: 50%;
  height: 100%;
  border-radius: 0 4rem 4rem 0;
}
.container-login .wrapper .col1-forgot-class {
  position: absolute;
  left: 25rem;
  width: 50%;
  height: 100%;
  border-radius: 4rem 0 0 4rem;
}
.container-login .wrapper .col2-login-class {
  position: absolute;
  left: 25rem;
  width: 50%;
  height: 100%;
}
.container-login .wrapper .col2-forgot-class {
  position: absolute;
  left: 0rem;
  width: 50%;
  height: 100%;
}

/* src/components/IDE.css */
.ide-container {
  background-image: url("https://scontent.cdninstagram.com/v/t51.75761-15/474548298_18343645135194850_681295967062939706_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=102&ig_cache_key=MzU1MDQ1NDEyOTgwMzgyNjU4NA%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTA4MC5zZHIuQzMifQ%3D%3D&_nc_ohc=Z4zjirieUHQQ7kNvwED5YaE&_nc_oc=AdmkrNVJHUB-zkob7Ph9DcLl74SCMiJVh0G1Ky4qksy4mvsGZZckfwkycWhIw5OCifk&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=OVmBiosjR6_aovBMq_qT1g&oh=00_AfeeA7dmS-fMUT4xyujumhDzk69bOvtj2oofSZF3X0ltiw&oe=68F1CABC"); /* Ajuste o caminho conforme onde você colocou a imagem */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ocupa a altura total da viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Cor do texto padrão */
  position: relative;
}

.ide-overlay-father {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.764);
}

.ide-overlay {
  padding: 40px;
  border-radius: 10px;
  max-width: 800px;
}

.ide-title {
  font-family: "Oswald", sans-serif;
  font-size: 3.5em;
  margin-bottom: 20px;
  line-height: 1.2;
  color: #FFD700; /* Cor dourada para o título */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.ide-verse {
  font-family: "Open Sans", sans-serif; /* Fonte mais legível para o versículo */
  font-size: 1.5em;
  margin-bottom: 30px;
  line-height: 1.5;
  font-style: italic;
  color: #E0E0E0;
}

.ide-reference {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.ide-speaker {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #A9A9A9;
  margin-top: 20px;
}

/* Adicione fontes do Google Fonts no seu arquivo index.html ou aqui */
/* Exemplo de importação no CSS: */
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap'); */
.typed-cursor {
  color: #FFD700; /* ou a cor do teu tema */
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes imgBanner {
  0% {
    background-position-y: 0%;
  }
  50% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0%;
  }
}
@media screen and (max-width: 820px) {
  .container-login .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 0;
    height: 37rem;
    max-width: 30rem;
  }
  .container-login .wrapper .col:nth-child(1) {
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    width: 100%;
    height: 35%;
    border-radius: 4rem 4rem 0 0;
    animation: imgBanner 50s infinite linear forwards;
  }
  .container-login .wrapper .col:nth-child(2) {
    width: 100%;
    padding: 2rem 2rem;
    justify-content: flex-start;
    gap: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
