@import "mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
// open sans
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
// oswald
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
// roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.label-preview {
  color: #000;
  font-weight: 600;
  margin-bottom: .3rem
}

.preloader {
  @include flex(column, center, center, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  @keyframes preloaderAnmed {
    0% {
      transform: scale(100%);
      filter: drop-shadow(0 0 10px #b9bc00);
    }
    50% {
      transform: scale(115%);
      filter: drop-shadow(0 0 15px #fcff42);
    }
    100% {
      transform: scale(100%);
      filter: drop-shadow(0 0 10px #b9bc00);
    }
  }

  &__img {
    max-width: 4rem;
    animation: preloaderAnmed 1s ease-in-out infinite;
  }
}

.container-login {
  min-height: 100vh;
  @include flex(column, center, center, 0);
  background-color: #9cd9ff;
  padding: 1rem;
  .wrapper {
    @include grid(1fr 1fr, 1fr, 0);
    width: 100%;
    position: relative;
    max-width: 50rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
    background-color: #fff;
    height: 30rem;

    .col {
      transition: all 0.5s ease-in-out;
      &:nth-child(1) {
        z-index: 2;
        background-image: url("https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/IDE-PROJECT/ab6765630000ba8a4916655bf26e3830b33aa94f.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.323);
      }

      &:nth-child(2) {
        padding: 4rem 2.5rem;
        z-index: 1;
        @include flex(column, center, baseline, 1.5rem);

        .title {
          @include flex(column, center, center, 0.5rem);
          font-size: 2rem;
          margin: 0 auto;
          color: #40b6ff;
          text-align: center;

          .title-login {
            @include flex(row, center, baseline, 0);
            img {
              width: 2.5rem;
            }
          }
        }

        .form {
          width: 100%;
          @include flex(column, center, baseline, 1.5rem);

          label {
            @include flex(column, center, baseline, 3px);
            width: 100%;
            position: relative;

            small {
              position: absolute;
              font-size: 0.7rem;
              color: red;
              font-weight: 500;
              bottom: -13px;
            }

            span {
              font-size: 0.8rem;
              text-transform: uppercase;
              color: #566a7f;
            }

            input {
              width: 100%;
              padding: 0.8rem;
              background-color: #f3f3f3;
              border: 1px solid #f3f3f3;
              border: none;
              border-radius: 5px;
              outline: none;
              transition: padding-right 0.5s ease-in-out;

              &:focus {
                padding-right: 1rem;
              }
            }

            .input-password {
              @include flex(row, space-between, center, 0);
              width: 100%;
              input {
                border-right: none;
                border-radius: 5px 0 0 5px;
              }

              .button-hide-password {
                padding: 0.5rem;
                border: none;
                border-radius: 0 5px 5px 0;
                background-color: #f3f3f3;
                color: #fff;
                cursor: pointer;

                i {
                  font-size: 1.5rem;
                  color: #c3c3c3;
                  font-weight: 100;
                }
              }
            }
          }

          .forgot-password {
            font-size: 0.8rem;
            margin: 0 auto;
            text-align: center;
            cursor: pointer;
            color: #168cd5;
          }

          .btn-login {
            width: 100%;
            height: 2.5rem;
            border: none;
            border-radius: 5px;
            background-color: #40b6ff;
            color: #fff;
            font-weight: 500;
            cursor: pointer;
            transition: background-color 0.5s ease-in-out;

            &:hover {
              background-color: #168cd5;
            }
          }
        }
      }
    }

    .col1-login-class {
      position: absolute;
      left: 0rem;
      width: 50%;
      height: 100%;
      border-radius: 0 4rem 4rem 0;
    }

    .col1-forgot-class {
      position: absolute;
      left: 25rem;
      width: 50%;
      height: 100%;
      border-radius: 4rem 0 0 4rem;
    }

    .col2-login-class {
      position: absolute;
      left: 25rem;
      width: 50%;
      height: 100%;
    }

    .col2-forgot-class {
      position: absolute;
      left: 0rem;
      width: 50%;
      height: 100%;
    }
  }
}

/* src/components/IDE.css */
.ide-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Cor do texto padrão */
  position: relative;

  @keyframes animationButton {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  .ide-link-login {
    @include flex(row, center, center, 0);
    z-index: 999;
    text-decoration: none;
    position: fixed;
    width: 3rem;
    height: 3rem;
    top: 1rem;
    background-image: url("https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/IDE-PROJECT/ab6765630000ba8a4916655bf26e3830b33aa94f.jpg");
    background-size: cover;
    left: 1rem;
    border-radius: 50%;
    cursor: pointer;
    animation: animationButton 2s infinite;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.512);

    i {
      font-size: 1.5rem;
      color: #fff;
    }
  }

  .ide-link {
    z-index: 999;
    text-decoration: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    background-image: url("../image/insta.png");
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    animation: animationButton 2s infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);

    i {
      font-size: 2rem;
    }
  }
}

.ide-louvor {
  font-size: 1.1em;
  font-weight: 600;
}

.ide-overlay-father {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ide-title {
  font-family: "Oswald", sans-serif;
  font-size: 3.5em;
  line-height: 1.2;
  max-width: 45rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.ide-verse {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  line-height: 1.5;
  font-style: italic;
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.ide-reference {
  font-weight: bold;
  display: block;
  margin-top: 0.5rem;
}

.content__form {
  padding: 1rem 2rem 2rem 2rem;
  @include flex(column, center, baseline, .5rem);
  width: 100%;

  label {
    margin-top: .5rem;
    font-size: .9rem;
    color: #000000;
    font-weight: 600;
  }

  .p-dropdown {
    padding: .5rem 1rem !important;
    width: 100% !important;
    max-width: 20rem;
  }

  .p-dropdown-item {
    padding: .5rem 1rem !important;
  }


  textarea {
    height: 10rem !important;
  }
}

.typed-cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.container-home {
  @include grid(15rem 1fr, 5rem 1fr, 0);
  background-color: #f2f2f2;
  min-height: 100vh;

  .header-home {
    grid-column: 2 / -1;
    @include flex(row, flex-end, center, 0);

    .group-buttons {
      @include flex(row, center, center, 0);
    }

    .header-user {
      @include flex(row, flex-end, center, 0.5rem);
      cursor: pointer;
      background-color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 0.8rem;
      box-shadow: 0 0 10px rgba(101, 101, 101, 0.2);
      margin-right: 1rem;
      height: 3rem;

      i {
        font-size: 1.5rem;
        color: #003049;
      }

      span {
        font-weight: 600;
        color: #003049;
      }
    }

    .menu {
      @include flex(row, center, center, 0.5rem);
      display: none;
      cursor: pointer;
      background-color: #fff;
      margin-left: 2rem;
      width: 3rem;
      height: 3rem;
      border-radius: 0.8rem;
      box-shadow: 0 0 10px rgba(101, 101, 101, 0.2);
      margin-right: 1rem;
      border: none;
      i {
        font-size: 2rem;
        color: #003049;
      }
    }

    .ide-link-ide {
      @include flex(row, center, center, 0.5rem);
      padding: 0.5rem 1rem;
      background-color: #fff;
      color: #003049;
      text-decoration: none;
      border-radius: 0.8rem;
      box-shadow: 0 0 10px rgba(101, 101, 101, 0.2);
      margin-right: 1rem;
      font-weight: 600;
      border: none;
      transition: 0.3s ease all;
      i {
        font-size: 2rem;
        color: #ffb700;
      }

      &:hover {
        background-color: #003049;
        color: #fff;
      }
    }
  }


  .main-home {
    @include flex(column, flex-start, center, 0);
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    width: 100%;
    padding: 2em;
    
  }

  .navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    width: 15rem;
    height: 100vh;
    background-color: #fff;
    @include flex(column, flex-start, baseline, 0);
    grid-row: 1 / -1;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0 10px rgba(101, 101, 101, 0.2);

    .close-nav {
      position: absolute;
      right: -1.1rem;
      align-self: flex-end;
      cursor: pointer;
      top: 1rem;
      font-size: 1.5rem;
      color: #003049;
      margin-bottom: 1rem;
      width: 2rem;
      height: 2rem;
      @include flex(row, center, center, 0);
      display: none;
      border-radius: 50%;
      border: none;
      transition: transform 0.3s ease-in-out;
      background-image: linear-gradient(135deg, #f6fbff, #d4f2ff);
      box-shadow: 0 0 10px rgba(101, 101, 101, 0.2);

      &:hover {
        transform: scale(1.1);
      }
    }

    &-logo {
      margin-bottom: 2rem;
      width: 100%;
      border-radius: 10px;
    }

    &-list {
      @include flex(column, flex-start, baseline, 0);
      list-style: none;
      width: 100%;

      .navbar-item {
        @include flex(row, flex-start, center, 0.5rem);
        cursor: pointer;
        width: 100%;
        color: #7c90a6;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        padding: 10px 1em;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1em;
        transition: background-color 0.3s ease-in-out;
        width: 100%;

        &:hover {
          background-color: #f2f2f2;
        }

        i {
          color: #566a7f;
          font-size: 1.388rem;
        }

        .navbar-link {
          cursor: pointer;
          width: 100%;
          color: #7c90a6;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          border-radius: 5px;
          text-decoration: none;
          font-size: 1em;
          transition: background-color 0.3s ease-in-out;
          width: 100%;
        }
      }
    }
  }

  .form-ide {
    @include flex(column, center, baseline, 1.5rem);
    width: 100%;
    max-width: 70rem;
    overflow: hidden;
    background: #ffffff; /* leve fundo azulado */
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(101, 101, 101, 0.2);
    font-family: "Poppins", sans-serif;

    .form-content {
      width: 100%;
      padding: 0 2rem 2rem 2rem;
      
    }

    .header-form {
      @include flex(column, center, baseline, 0.5rem);
      width: 100%;
      padding: 2rem;
     background-image: linear-gradient(to bottom, #065a90, #004173);

     h2 {
      color: #fff;
      font-size: 1.5rem;
      font-weight: 600;
     }
    }

    .form-group {
      position: relative;
      @include flex(column, center, baseline, 0rem);
      width: 100%;
      

      .error {
        position: absolute;
        color: #dc2626;
        font-size: 0.8rem;
        position: absolute;
        bottom: -16px;
      }
    }
  }

  .label-ide {
    display: block;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0.5rem;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #f2f2f2;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
  }

  option {
    padding: 0.5rem;
  }

  input:focus,
  textarea:focus {
    border-color: #38bdf8; /* um azul mais vibrante */
    box-shadow: 0 0 6px #9cd9ff;
  }

  textarea {
    resize: vertical;
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    background-image: linear-gradient(to bottom, #065a90, #004173);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 0.9rem 1.5rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1.5rem;
    transition: 0.3s ease;
  }

  button[type="submit"]:hover {
    transform: scale(1.01);
    color: white;
  }

  div > div {
    color: #dc2626;
    font-size: 0.85rem;
    margin-top: 0.3rem;
  }
}

.invitation {
  width: 100%;
  position: relative;
  max-width: 70rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);

  .texts {
    @include flex(column, center, baseline, 0.5rem);
    padding: 1rem 2rem;
    background-image: linear-gradient(to bottom, #065a90, #004173);
    color: #fff;
    width: 100%;
    grid-column: 2 / -1;
    grid-row: 2 / 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
  }

  &__title {
    font-size: 1.5em;
    font-weight: 600;
  }

  &__description {
    color: #d0d0d0;
    font-size: 0.9em;
  }

  .content {
    @include flex(column, center, baseline, 1rem);
    background-color: #fff;
    color: #fff;
    width: 100%;
    grid-column: 2 / -1;
    grid-row: 2 / 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);

    &__button {
      padding: 1rem;
      background-image: linear-gradient(to bottom, #065a90, #004173);
      color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
      border-radius: 10px;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      margin-top: 1rem;
    }

    &__button:hover {
      transform: scale(1.01);
      color: white;
    }

    &__group {
      @include flex(row, center, baseline, 0);
      width: 100%;
    }

    &__input {
      padding: 1rem;
      color: #000000;
      width: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
      border-radius: 10px 0 0 10px;
      border: none;
      font-weight: 600;
      cursor: pointer;
      font-size: 1rem;
    }

    &__textarea {
      padding: 1rem;
      background-color: white;
      color: #000000;
      width: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
      border-radius: 10px;
      border: none;
      cursor: pointer;
      font-size: 1rem;
    }

    &__button-copy {
      padding: 1rem;
      background-image: linear-gradient(to bottom, #065a90, #004173);
      color: #fff;
      border-radius: 0 10px 10px 0;
      border: none;
      cursor: pointer;
      font-size: 1rem;
    }
  }
}

.footer {
  @include flex(row, space-between, center, 0);
  padding: 1rem 2rem;
  background-image: linear-gradient(to bottom, #065a90, #004173);
  color: #fff;
  width: 100%;
  grid-column: 2 / -1;
  grid-row: 3 / 3;
  bottom: 0;
  margin-top: 5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
}

.ide-player {
  @include flex(column, center, center, 1rem);

  iframe {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
    width: 100%;
    max-width: 560px;
    height: 315px;
    border: none;
  }
}
/* Seu arquivo .css */
.hidden {
  display: none !important;
}

 .p-dropdown-item {
    padding: 1rem !important;
  }


.current-data-preview {
  width: 100%;
  /* Estilos para o bloco de preview */
  margin-top: 5px;
  padding: 5px 0;
  border-top: 1px dashed #ddd; /* Linha de separação */
  font-size: 0.9em;
  color: #555;
}

.current-data-preview .preview-input {
  width: 100%;
  /* Estilos para o input desabilitado */
  background-color: #d1f9ff;
  border: 1px solid #8de4ff;
  color: #333;
  cursor: default; /* Mostra que não é clicável */
}

@import "themes.scss";
@import "media.scss";
