@keyframes imgBanner {
  0% {
    background-position-y: 0%;
  }

  50% {
    background-position-y: 100%;
  }

  100% {
    background-position-y: 0%;
  }
}

@include mediaHeight(836px) {
  .ide-title {
    font-size: 3rem;
  }

  .ide-player iframe {
    max-width: 454px;
    height: 255px;
  }
}

@include mediaHeight(742px) {
  .ide-overlay {
    padding: 21px;
  }
  .ide-verse {
    margin-bottom: 10px;
  }
}

@include media(950px) {
  .container-home .header-home .menu {
    display: flex;
  }
  .container-home .navbar .close-nav {
    display: flex;
  }
  .container-home .header-home {
    justify-content: space-between;
  }
  .container-home {
    grid-template-columns: 1fr;
    grid-template-rows: 7rem 1fr;

    @keyframes openMenu {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }

    @keyframes closeMenu {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    .open-menu {
      animation: openMenu 0.3s ease-in-out forwards;
      display: flex;
    }

    .close-menu {
      animation: closeMenu 0.3s ease-in-out forwards;
    }
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}

@include media(820px) {
  .container-home .main-home {
    padding: 0 1rem;
  }
  .container-home form .form-group .error {
    font-size: 0.7rem;
  }
  .container-home label {
    margin-bottom: 4px;
  }
  .container-home h2 {
    margin-bottom: 0;
    font-size: 1.3rem;
  }
  .container-home .header-home .menu {
    margin-left: 1rem;
  }

  .container-home form {
    padding: 1rem;
  }

  .container-login .wrapper {
    @include grid(1fr, 2fr 1fr, 0);
    height: 33rem;
    max-width: 30rem;
  }
  .ide-title {
    font-size: 2.3rem;
  }
  .container-login .wrapper .col:nth-child(1) {
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    width: 100%;
    height: 25%;
    border-radius: 4rem 4rem 0 0;
    animation: imgBanner 50s infinite linear forwards;
  }

  .container-login .wrapper .col:nth-child(2) {
    width: 100%;
    padding: 2rem 2rem;
    justify-content: flex-start;
    gap: 1rem;
  }
}

@include media(420px) {
  .ide-player iframe {
    height: 190px;
  }

  .ide-title {
    font-size: 2rem;
  }

  .ide-player {
    gap: 1rem;
  }

  .ide-overlay {
    padding: 1em;
  }

  .ide-verse {
    margin-bottom: 1em;
  }

  .ide-verse {
    font-size: 1.3rem;
  }
}

@include media(410px) {
  .container-home .header-home .ide-link-ide {
    gap: 5px;
    padding: 0.8rem 0.5rem;
  }
  .container-home .header-home .header-user {
    gap: 5px;
    padding: 1rem 0.5rem;

    i {
      font-size: 1.3rem;
    }
  }

  .container-home .header-home .ide-link-ide i {
    font-size: 1.3rem;
  }

  .container-home .header-home .header-user {
    gap: 5px;
    padding: 0.5rem;
  }
}

@include media(368px) {
  .container-home .header-home .ide-link-ide {
    margin-right: 10px;
  }
}

@include media(353px) {
  .container-home .header-home .menu {
    margin-right: 3px;
  }
  .container-home .header-home .ide-link-ide {
    gap: 5px;
    padding: 0.8rem 5px;
  }

  .container-home .header-home .header-user {
    gap: 5px;
    padding: 0.5rem 6px;
  }
  .container-home .header-home .ide-link-ide {
    margin-right: 7px;
  }
  .container-home .header-home .menu {
    width: 2.5rem;
  }
}
