@mixin flex($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin grid($columns, $rows, $gap) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
}

@mixin media($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}


@mixin mediaHeight($breakpoint) {
  @media screen and (max-height: $breakpoint) {
    @content;
  }
}